{% extends 'base.html' %} {% load static %} {% block content %}

<div id="home">
  
  <div>
    User Email is: {{ useremail }}
    <br /><br />
    <div>
      <div class="row">
        <div class="col-md-4">
          <div class="btn btn-outline-success">
            Add New Device
          </div>
        </div>
        <div class="single-row col-md-8">
          <!-- title bar ends -->
          <div class="panel-body">
            <div>
              <form
                name="add_device_form"
                class="add-item"
                action=""
                method="POST"
              >
                {% csrf_token %}
                <fieldset>
                  {% for field in form.visible_fields %}
                  <div class="form-group">
                    {{ field.errors }} {{ field.label_tag }} {{ field }}
                  </div>
                  {% endfor %}
                </fieldset>

                <button class='btn btn-block'>
                  <a href="{% url 'setting' %}">Setting Page</a>
                </button>
              
                <button type="submit" class="btn btn-primary btn-block">
                  Add Device
                </button>
                
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
