{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cold Storage Monitoring System</title>
  <link rel="icon" href="{% static 'image/bracnet-icon-2.png' %}" type="image/gif" sizes="16x16" />
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" /> -->
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> -->
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />

  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
</head>

<body>

  <section class="login-page bg-light">
    <div class="login-container d-flex align-items-center justify-content-center">

      <div class="log-div">
        <div class="card rounded p-5">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          
            <form class="login-form" method="POST">
              {% csrf_token %}
              <fieldset>
                <!-- {{ form.as_p }} -->
                {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.errors }}
                  {{ field.label_tag }}
                  {{ field }}
                </div>
                {% endfor %}
              </fieldset>
              <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
          </div>
      </div>
    </div>
  </section>

</body>

</html>