{% extends 'base.html' %} {% load static %} {% block content %}

<div id="setting">
  <div class="btn btn-primary">
    <a href="{% url 'home' %}">Home</a>
  </div>
  <div>
    <div>
      <p>Your Selected Region is: {{ current_region }}</p>
      <p>Today's date: {{ today }}</p>
    </div>
    <p>Cheapest Value of today is: {{ cheapest_val_of_day}}</p>    
    <table>
      {% for item in cheapest_hour_of_day %}
        <tr>
          <td>{{ item }}</td>
        </tr>
      {% endfor %}
      
    </table>
    
      
  </div>
  <div>
    <p>Please keep the number between 0-24.</p>
  </div>

  <form name="SearchForm" class="" action="" method="POST">
    {% csrf_token %}
    <fieldset>
      {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.errors }} {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}
    </fieldset>

    <button name="submit" value="submit" type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>

{% endblock content %}
